.orderItem {
    background: #1c1c21;
    border: none;
    border-radius: 40px;
    padding: 24px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: left;
    font-family: 'JetBrains Mono', monospace;
    box-shadow: 0 0 12px rgba(0, 204, 204, 0.1);
    width: 844px;
    height: 246px;
}

.orderItemFeed {
    width: 584px;
    height: 214px;
}

.orderItem:hover {
    border-color: rgba(0, 204, 204, 0.5);
}

.orderHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderId {
    font-size: 28px;
    font-weight: 400;
    color: #f2f2f3;
    font-family: 'JetBrains Mono', monospace;
}

.orderDate {
    font-size: 16px;
    font-weight: 400;
    color: #8585ad;
    font-family: 'JetBrains Mono', monospace;
}

.orderName {
    font-size: 24px;
    font-weight: 700;
    overflow: hidden;
    text-align: left;
    text-overflow: clip;
    width: 796px;
    height: 30px;
    color: #f2f2f3;
    margin: 24px 0 0 0;
}

.orderNameFeed {
    margin: 24px 0;
    width: 560px;
}

.status {
    font-size: 16px;
    font-weight: 400;
    color: #f2f2f3;
    font-family: 'JetBrains Mono', monospace;
    margin: 8px 0 24px 0;
}

.statusDone {
    color: #00cccc;
}

.ingredientsContainer {
    display: flex;
    flex-direction: row;
    width: 796px;
    height: 64px;
}

.ingredientsContainerFeed {
    width: 536px;
}

.ingredients {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-right: auto;
}

.ingredient {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 64px;
    height: 64px;
    border: 2px solid #801ab2;
    background: #131316;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    top: 0;
    left: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .other {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        width: 64px;
        height: 64px;
        background: rgba(29, 29, 29, 0.8);

        span {
            font-size: 16px;
            font-weight: 400;
            color: #f2f2f3;
            font-family: 'JetBrains Mono', monospace;
        }
    }
}

.ingredient:nth-child(1) {
    z-index: 7;
}
.ingredient:nth-child(2) {
    left: -20px;
    z-index: 6;
}
.ingredient:nth-child(3) {
    left: -40px;
    z-index: 5;
}
.ingredient:nth-child(4) {
    left: -60px;
    z-index: 4;
}
.ingredient:nth-child(5) {
    left: -80px;
    z-index: 3;
}
.ingredient:nth-child(6) {
    left: -100px;
    z-index: 1;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 400;
    color: #f2f2f3;
    font-family: 'JetBrains Mono', monospace;
    gap: 10px;

    .icon {
        width: 24px;
        height: 24px;
    }
}
