.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.loading {
    font-weight: 700;
    font-size: 28px;
    width: 640px;
    height: 100vh;
    margin: 60px 0 0 0;
    color: #f2f2f3;
    text-align: center;
    align-self: center;
}

.header {
    display: flex;
    flex-direction: column;

    h2 {
        font-weight: 700;
        font-size: 28px;
        width: 640px;
        height: 50px;
        margin: 0;
        color: #f2f2f3;
        text-align: center;
    }

    h5 {
        font-weight: 700;
        font-size: 24px;
        width: 640px;
        height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 40px 0 0 0;
        color: #f2f2f3;
        text-align: left;
    }
}

.status {
    width: 640px;
    font-size: 16px;
    font-weight: 400;
    color: #f2f2f3;
    font-family: 'JetBrains Mono', monospace;
    text-align: left;
    margin-top: 12px;
}

.statusDone {
    color: #00cccc;
}

.ingredientesContainer {
    margin-top: 60px;

    h5 {
        font-size: 24px;
        font-weight: 400;
        color: #f2f2f3;
        font-family: 'JetBrains Mono', monospace;
        text-align: left;
        margin: 0;
    }
}

.ingredients {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 640px;
    height: 366px;
    overflow-y: auto;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    width: 620px;
    justify-content: start;
}

.name {
    font-size: 16px;
    font-weight: 400;
    color: #f2f2f3;
    font-family: 'JetBrains Mono', monospace;
    text-align: left;
    width: 400px;
    overflow: hidden;
}

.ingredientImg {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 64px;
    height: 64px;
    border: 2px solid #801ab2;
    background: #131316;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    top: 0;
    left: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.price {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 18px;
    font-weight: 400;
    color: #f2f2f3;
    font-family: 'JetBrains Mono', monospace;
    gap: 10px;
    margin-left: auto;

    .icon {
        width: 24px;
        height: 24px;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 640px;
    margin: 40px 0;
}
.orderDate {
    font-size: 16px;
    font-weight: 400;
    color: #8585ad;
    font-family: 'JetBrains Mono', monospace;
}
