.background {
    position: absolute;
    z-index: 1001;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    opacity: 0.6;
}
